<!DOCTYPE html>
<html ng-app="chatApp">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>Vert.x Webchat</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/chat.css" type="text/css"/>
    <script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/angular.min.js" type="text/javascript"></script>
    <script src="js/ChatWebSocket.js" type="text/javascript"></script>
    <script src="js/chat.js" type="text/javascript"></script>
</head>
<body ng-controller="socketCtrl">
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h1 class="headline">Vert.x Webchat</h1>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="container-content">
                <div class="row">
                    <div class="col-xs-3 contact-bar">
                        <div class="container-contact-padding">
                            <div class="owner">{{user.name}}</div>
                        </div>
                        <!-- User search -->
                        <div class="container-contact-padding">

                            <div class="btn-group">
                                <input type="text" class="form-control searchform-input dropdown-toggle"
                                       data-toggle="dropdown" aria-expanded="false" placeholder="Kontakt hinzufügen"
                                       name="contact" ng-model="userFilter"/>

                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-user-entry"
                                        ng-repeat="user in getAllUsers() | filter:userFilter"
                                        ng-click="addContact(user)">
                                        {{user.name}}
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Contact-list -->
                        <div class="container-contact container-contact-padding no-border"
                             ng-repeat="contact in contacts" ng-click="setActive(contact)"
                             ng-class="{active : isActive(contact) }">
                            <div class="contact">
                                <span>{{contact.name}}<i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="container-message">
                            <div class="container-message-box">
                            </div>
                            <div class="container-new-message">
                                <div class="container-textarea">
                                    <textarea placeholder="Schreibe eine Nachricht..." name="message"
                                              ng-model="textMessage"></textarea>
                                </div>
                                <button class="btn btn-send-message" name="sendmessage"
                                        ng-click="sendMessage(textMessage)" ng-disabled="activeContact == null">
                                    <i class="glyphicon glyphicon-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
</div>
<!--<script src="/js/jquery-1.11.2.min.js" type="text/javascript"></script>-->
<!--<script src="/js/bootstrap.min.js" type="text/javascript"></script>-->
<!--<script src="/js/angular.min.js" type="text/javascript"></script>-->
<!--<script src="js/ChatWebSocket.js" type="text/javascript"></script>-->
<!--<script src="js/chat.js" type="text/javascript"></script>-->
</body>
</html>